[submodule "MoneyLink_IOC"]
	path = MoneyLink_IOC
	url = https://github.com/ferter3006/MoneyLink_IOC
[submodule "MoneyLink"]
	path = MoneyLink
	url = https://github.com/CRUMMENS/MoneyLink
[submodule "AppMovil"]
	path = AppMovil
	url = https://github.com/rob-21-os/AppMovil
